@import components/mixin

*
  margin: 0
  padding: 0
    
html
  scroll-behavior: smooth

body
  margin: 0
  font-family: "Rubik"
  background-color: #f4f7f9

header
  background: url(../img/verxbgc.jpg) no-repeat center/cover
  background-position: bottom

kartinka
  background: url(../img/bgcser.jpg) no-repeat center/cover
  padding: 10px 0px
  +media(1024)
    padding: 50px 200px


footer
  background: url(../img/nizbgc.jpg) no-repeat center/cover
  padding: 200px
  background-position: top

.flex-between
  display: flex
  justify-content: space-between
  align-items: center

.navbar-brand img
  max-height: 50px

h1
  position: relative
  font-size: 50px
  letter-spacing: 1px
  text-transform: uppercase
  color: #fff
  font-weight: 400
  text-align: center
  +media(425)
    font-size: 72px

.vertix
  font-size: 16px
  line-height: 24px
  color: #fff
  font-weight: 400
  font-style: italic
  text-align: center

.colr
  padding-top: 50px 
  background-color: transparent !important
  padding-bottom: 90px
  +media(500)
    padding-bottom: 160px

.cv
  color: #fff

.textes
  position: relative
  padding-bottom: 150px
  +media(1920)
    padding-bottom: 360px

.detalno
  padding: 10px 35px
  border-radius: 20px
  z-index: 1

.detala
  padding: 30px

.strilka
  padding-bottom: 88px

a.detalno
  text-decoration: none
  font-size: 16px
  letter-spacing: 1px
  text-transform: uppercase
  color: #fdfcfb
  font-weight: 400
  text-align: center
  transition: all 1s ease

.top-container
  display: flex
  flex-direction: column
  align-items: center
  
.navbar-collapse
  justify-content: flex-end

.corner-star 
  position: absolute
  top: 6px
  left: 6px
  font-size: 12px
  color: white
  z-index: 1

.navbar-nav
  display: flex
  gap: 16px
  align-items: center

.ashk a:hover
  color: #e0a91b

.ober
  max-width: 330px
  font-size: 36px
  letter-spacing: 1px
  line-height: 44px
  text-transform: uppercase
  color: #333333
  font-weight: 400
  text-align: center

.nash
  font-size: 16px
  line-height: 24px
  color: #333333
  font-weight: 400
  font-style: italic
  text-align: center
  padding-bottom: 20px

.textes:before
  +media(1024)
    content: ""
    position: absolute
    top: -60px
    left: 40%
    width: 20%
    height: 60px
    opacity: 0.300
    border-left: 4px solid rgba(252, 252, 252, 252)
    border-top: 4px solid rgba(252, 252, 252, 252)
    border-right: 4px solid rgba(252, 252, 252, 252)

.textes:after
  +media(1024)
    content: ""
    position: absolute
    top: 210px
    left: 40%
    width: 20%
    height: 120px
    opacity: 0.300
    border-left: 4px solid rgba(252, 252, 252, 252)
    border-right: 4px solid rgba(252, 252, 252, 252)
    border-bottom: 4px solid rgba(252, 252, 252, 252)

.pro
  text-align: left
  font-size: 36px
  letter-spacing: 1px
  line-height: 40px
  text-transform: uppercase
  color: #333333
  font-weight: 400
  padding-bottom: 27px

.nasha
  text-align: left
  font-size: 16px
  line-height: 22px
  color: #555
  font-weight: 400
  font-style: italic
  padding-bottom: 48px

.tixo
  padding-top: 20px
  width: 228px
  font-size: 13px
  line-height: 19px
  color: #bbbbbb
  font-weight: 400

.body-card
  position: relative
  border-radius: 0px
  border: none
  background-color: #f4f7f9
  text-align: center
  transition: all 0.5s ease
  &:hover
    background-color: #fff
    transform: translateY(-5px)

.card-img-top
  width: 60px
  height: 90px
  margin: 0 auto 0px

.body-card-nazv
  font-size: 18px
  color: #333
  font-weight: 400
  text-align: center

.card-price
  font-size: 24px
  color: #0099ff
  font-weight: 400
  text-align: center

.body-card-texte
  text-align: left
  font-size: 13px
  line-height: 19px
  color: #999
  font-weight: 400

.nov
  text-align: center

.plani
  text-decoration: none
  font-size: 12px
  line-height: 110px
  text-transform: uppercase
  color: #0099ff
  font-weight: 400
  text-align: center
  transition: all 1s ease
  &:hover
    transform: translateX(5px)
  
.circle
  width: 10px
  height: 50px
  fill: #0099ff
  align-items: center

hr
  border: none
  border-top: 1px solid #000
  padding-bottom: 75px

.fig
  padding-top: 73px

.divoc
  font-size: 36px
  line-height: 42px
  text-transform: uppercase
  color: #333
  font-weight: 400
  padding-bottom: 26px


.pxyke
  font-size: 16px
  line-height: 24px
  color: #333
  font-weight: 400
  font-style: italic
  padding-bottom: 39px

.detalnishe
  padding: 10px 60px
  border-radius: 23px
  background-color: rgba(0,153,255,0)
  border: 2px solid #0099ff

.vede
  padding-bottom: 20px

.knopkashka
  color: #fff
  padding: 10px 60px
  border-radius: 23px
  filter: drop-shadow(0px 4px 10.5px rgba(193,139,1,0.24))
  background-color: #ffb700

.textik
  font-size: 13px
  line-height: 20px
  color: #999
  font-weight: 400
  text-align: center

.nizka
  padding: 26px
  background-color: #edf2f5

.vidsr
  padding-bottom: 37px

img.imge
  width: 100%
  padding-bottom: 63px

.pimai
  font-size: 56px
  letter-spacing: 2px
  line-height: 66px
  text-transform: uppercase
  color: #fff
  font-weight: 400

.polu
  font-size: 16px
  line-height: 24px
  color: #ffffff
  font-weight: 400
  font-family: "PT Sans"
  padding-top: 31px
  padding-bottom: 49px

span
  font-size: 56px
  letter-spacing: 2px
  line-height: 66px
  text-transform: uppercase
  color: #0099ff
  font-weight: 400

.chudova
  padding: 5px
  font-size: 16px
  line-height: 25px
  color: #fff
  font-weight: 400
  font-style: italic

.oleg
  font-size: 18px
  line-height: 26px
  color: #fff
  font-weight: 400
  text-align: center

.drugi
  position: relative
  padding: 30px

.clie
  font-size: 14px
  line-height: 19px
  color: #999
  font-weight: 400
  text-align: center

.lapi
  position: absolute
  top: 0
  left: 50%
  transform: translate(-50% , -50%)

.olega
  position: absolute
  width: 90px
  left: 50%
  bottom: 0
  transform: translate(-50% , 50%)
  z-index: 1

p
  margin: 0px

.drugi:before
    content: ""
    position: absolute
    top: 0%
    left: 0%
    width: 40%
    height: 100%
    opacity: 0.102
    border-left: 4px solid rgba(252, 252, 252, 252)
    border-top: 4px solid rgba(252, 252, 252, 252)
    border-bottom: 4px solid rgba(252, 252, 252, 252)

.drugi:after
    content: ""
    position: absolute
    top: 0%
    right: 0%
    width: 40%
    height: 100%
    opacity: 0.102
    border-right: 4px solid rgba(252, 252, 252, 252)
    border-top: 4px solid rgba(252, 252, 252, 252)
    border-bottom: 4px solid rgba(252, 252, 252, 252)

.special
  padding-top: 60px
  padding-bottom: 12px
  font-size: 36px
  line-height: 42px
  text-transform: uppercase
  color: #333
  font-weight: 400
  text-align: center

.hott
  font-size: 16px 
  line-height: 24px
  color: #333
  font-weight: 400
  font-style: italic
  text-align: center
  padding-bottom: 36px

.tour-card
  background-color: #f4f7f9
  overflow: hidden
  text-align: left
  position: relative
  transition: all 0.5s ease
  &:hover
    transform: translatey(2%)
    background-color: #fff

.tour-card img
  width: 100%

.tour-body
  padding: 15px

.flag
  width: 0
  height: 0
  border-left: 50px solid #25cb14
  border-bottom: 50px solid transparent
  position: absolute
  top: 0
  left: 0

.fa-person-bikin
  padding: 10px
  position: absolute
  top: -6px
  left: 6px
  z-index: 3

.sunya
  width: 0
  height: 100%
  border: solid #0099ff
  position: absolute
  top: 0
  left: 0

.title
  font-size: 18px
  line-height: 26px
  color: #333
  font-weight: 400
  padding: 0 10px

.desc
  font-size: 13px
  line-height: 19px
  color: #999
  font-weight: 400
  padding: 0 10px


.price
  font-size: 24px
  line-height: 44px
  color: #0099ff
  font-weight: 400
  padding: 0 5px
  padding-right: 50px

.order
  text-decoration: none
  font-size: 13px
  letter-spacing: 1px
  text-transform: uppercase
  color: #ffb700
  font-weight: 400
  text-align: center

.kartka
  padding: 20px

.dodatkova
  padding-bottom: 60px

.dodatk
  font-size: 36px
  letter-spacing: 1px
  line-height: 40px
  text-transform: uppercase
  color: #333
  font-weight: 400

.info-card
  border-radius: 0px
  background: url(../img/domik.jpg) no-repeat center/cover
  color: #fff
  text-shadow: 0 1px 3px rgba(0,0,0,0.4)
  display: flex
  flex-direction: column

.info-carde
  color: #fff
  background: url(../img/bash.jpg) no-repeat center/cover
  text-shadow: 0 1px 3px rgba(0,0,0,0.4)
  display: flex
  flex-direction: column

.card-bg-img
  width: 60px

.vedstup
  padding: 40px

.knopkaniz
  opacity: 0.000
  padding: 10px
  border-radius: 16px
  background-color: rgba(255,183,0,0)
  border: 2px solid #ffb700

.infp
  font-size: 18px
  line-height: 24px
  color: #fff
  font-weight: 400

.text-light
  font-size: 13px
  line-height: 19px
  color: #bbb
  font-weight: 400

.text-muted
  font-size: 18px
  letter-spacing: 1px
  line-height: 26px
  color: #333
  font-weight: 400
  text-align: center

.yraa
  padding: 20px 200px
  background-color: #1a1a1a

.fullik 
  font-size: 13px
  line-height: 19px
  color: #ffffff
  font-weight: 400
  text-align: center

.telik
  font-size: 18px
  line-height: 26px
  color: #0099ff
  font-weight: 400
  text-align: center

.tyotya
  font-size: 18px
  line-height: 26px
  color: #333
  font-weight: 400
  text-align: center
  
.text-muted
  font-size: 13px
  line-height: 19px
  color: #999
  font-weight: 400
  text-align: center