mixin menu(colorTheme="light")
    .menushka.flex-between.items-center(class=colorTheme)
        .logosaity
            a.items-center(href="index.html")
                img.golovnaimg(src="img/verxbgx.jpx", alt="логотип сайту")
