doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin="")
    link(href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Maven+Pro:wght@400..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
    link(rel="icon", href="img/favi.png", type="image/png")
    title Морські Пригоди приїзжайте радуйтесь і все таке
  body
    include components/mixin

    header
        nav.navbar.navbar-dark.bg-dark.navbar-expand-lg.bg-body-tertiary.colr
          .container.flex-between
            a.navbar-brand(href="#")
              img(src="img/sea.png", alt="")
            button.navbar-toggler.toggli(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
              span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
              .navbar-nav.ashk
                a.nav-link.cv(href="index.html") головна
                a.nav-link.cv(href="index.html") послуги
                a.nav-link.cv(href="index.html") про компанію
                a.nav-link.cv(href="index.html") акції
                a.nav-link.cv(href="index.html") партнери
                a.nav-link.cv(href="index.html") відгуки
                a.nav-link.cv(href="index.html") контакти
        .textes.top-container
          h1 Морські пригоди
          p.col-lg-7.col-xl-3.vertix Не важливо, чи Ваша мандрівка належить до елітного рівня чи до економваріанту, туроператор S trips потурбується, щоб Ви залишились задоволеними!
          a.detalnos.btn.btn-warning(href="") детальніше
        .viberiplan.top-container
          p.ober обери свій план подорожі
          p.nash Наша фірма -лідер на ринку у своїй сфері
          a.strilka(href="#section")
            <svg class="stirl" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M246.6 470.6c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 402.7 361.4 265.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-160 160zm160-352l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L224 210.7 361.4 73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3z"/></svg>
  main 
    section.pronash.container
      .row
        .col-12.col-lg-3.mb-4
          .block
            p.pro про нашу компанію
            p.nasha Наша компанія пропонує ряд цікавих-розважальних послуг, які принесуть вам ряд вражень!
            a.detalno.btn.btn-warning(href="") детальніше
            p.tixo * - зверніть увагу, зміна ціни може залежати від курсу долара.
        .col-12.col-lg-9
          .row.g-4
            figure.col-md-4.col-lg-4
              figcaption.card.body-card
                img.card-img-top(src="img/bike.svg", alt="велик")
                .card-body
                  h3.card-title.body-card-nazv Тур на велосипедах
                  p.card-price 335 грн*
                  p.card-text.body-card-texte Подорожуючи на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.
            figure.col-md-4.col-lg-4
              figcaption.card.body-card
                .flag
                <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                img.card-img-top(src="img/dashed.svg", alt="круг")
                .card-body
                  h3.card-title.body-card-nazv Екскурсія на острів
                  p.card-price 500 грн*
                  p.card-text.body-card-texte Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса у будь-яку пору року.
            figure.col-md-4.col-lg-4
              figcaption.card.body-card
                .flag
                <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                img.card-img-top(src="img/people.svg", alt="мессаге")
                .card-body
                  h3.card-title.body-card-nazv.col-12 Особливе замовлення
                  p.card-price 250 грн.*
                  p.card-text.body-card-texte  Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші.
          .row.mt-4
            .col-12.text-center
              a.plani(href="#") дивитись усі плани
                  svg.circle <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 151.2c-4.2-4.6-10.1-7.2-16.4-7.2C266 144 256 154 256 166.3l0 41.7-96 0c-17.7 0-32 14.3-32 32l0 32c0 17.7 14.3 32 32 32l96 0 0 41.7c0 12.3 10 22.3 22.3 22.3c6.2 0 12.1-2.6 16.4-7.2l84-91c3.5-3.8 5.4-8.7 5.4-13.9s-1.9-10.1-5.4-13.9l-84-91z"/></svg>
      hr.container
      section.divovishni.container
        .row
          .col-12.col-lg-4
            <picture>
              <source srcset="img/fig.jpg" type="image/jpg">
              img.imge.img-fluid(src="img/fig.webp", alt="Острів")
          .col-12.col-lg-8
            h2.divoc Дивовижний безлюдний острів, який зводить людей з розуму
            .row
              .col-12.col-md-8
                p.pxyke Пхукет - курортно-туристична Мекка Таїланду. Білосніжний пісок, і бірюзове море, і мальовничі скелі, а на них же, трохи вище - буйна тропічна рослинність. Все це можна побачити на власні очі.
                .d-flex.gap-2.vede.row
                  a.knopkashka.btn.btn-warning.col-sm.col-md.col-lg(href="#") Замовити тур
                  a.detalnishe.btn.btn-outline-primary.col-sm.col-lg.col-md.col-xl(href="#") Детальніше
              .col-12.col-md-4.vidsr
                .nizka
                  p.card-price 575 грн./день
                  p.textik В дану вартість входить обслуговування персоналу, вечеря і захоплюючі історії.

    section#section.fotka.d-flex.align-items-center.w-100
      .container
        .row.align-items-center
          .col-lg-6.col-md-12
            h2.pimai СПІЙМАЙ ХВИЛЮ
            span.niga ЖИВИ ЯСКРАВО!
            p.polu Полюбляєш екстрим та пригоди? Тоді тобі точно до нас! Мрієш стати на сапборд, але ніяк не міг наважитись? Наші досвідчені інструктори навчать тебе вміло «піймати хвилю» та відчути себе справжнім сёрфером!
            a.detalno.btn.btn-warning(href="https://delikates.ua/images/product/pomidor.jpg") ДЕТАЛЬНІШЕ
            .detala
          .col-lg-6.col-md-12.mt-4.mt-lg-0
            .drugi
              img.lapi(src="img/lapki.svg", alt="lapi")
              p.chudova Чудова туристична фірма, що повністю виправдала мої очікування від подорожі. Я був приємно вражений екскурсіями, що для мене підібрали, працюють справжні професіонали своєї справи.
              p.oleg Олег Набережний
              p.clie клієнт
              img.olega(src="img/Mushik.svg", alt="chel")
    section.spec.container
      h2.special Спеціальні пропозиції тижня 
      p.hott Гарячі пропозиції, по-швидше обирай і поїхали!
      .kartochkki.container
        .row.g-4.justify-content-center
          figure.col-12.col-sm-6.col-lg-3.kartka
            figcaption.tour-card
              .flag
              <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
              <picture>
                <source srcset="img/footkar1.jpg" type="image/jpg">
                img.img-fluid(src="img/footkar1.webp", alt="фооткар")
              .tour-body
                h2.title.bigw Романтична подорож на 2
                p.desc Подорож у найромантичніші куточки світу, занурить вас у дивовижні пейзажі природи.
                .bottom-row.d-flex.align-items-center.justify-content-between
                  p.pika 2599 грн.
                  a.order(href="#") замовити
                    svg.orangt <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 151.2c-4.2-4.6-10.1-7.2-16.4-7.2C266 144 256 154 256 166.3l0 41.7-96 0c-17.7 0-32 14.3-32 32l0 32c0 17.7 14.3 32 32 32l96 0 0 41.7c0 12.3 10 22.3 22.3 22.3c6.2 0 12.1-2.6 16.4-7.2l84-91c3.5-3.8 5.4-8.7 5.4-13.9s-1.9-10.1-5.4-13.9l-84-91z"/></svg>
          figure.col-12.col-sm-6.col-lg-3.kartka
            figcaption.tour-card
              .bibi
                <picture>
                  <source srcset="img/velik.jpg" type="image/jpg">
                  img.img-fluid.posata.relatives(src="img/velik.webp", alt="велик")
                p.sunya.align-items-center
                  <svg class="biker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M400 96a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm27.2 64l-61.8-48.8c-17.3-13.6-41.7-13.8-59.1-.3l-83.1 64.2c-30.7 23.8-28.5 70.8 4.3 91.6L288 305.1 288 416c0 17.7 14.3 32 32 32s32-14.3 32-32l0-128c0-10.7-5.3-20.7-14.2-26.6L295 232.9l60.3-48.5L396 217c5.7 4.5 12.7 7 20 7l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-52.8 0zM56 384a72 72 0 1 1 144 0A72 72 0 1 1 56 384zm200 0A128 128 0 1 0 0 384a128 128 0 1 0 256 0zm184 0a72 72 0 1 1 144 0 72 72 0 1 1 -144 0zm200 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"/></svg>
              .tour-body
                h2.title Велотур
                p.desc Бажаєте прокататись з вітерцем, та ще й з критим краєвидом довкола? Тоді швидше замовляй велотур!
                .bottom-row.d-flex.align-items-center.justify-content-between
                  p.price 555 грн.
                  a.order(href="#") замовити
                    svg.orangt <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 151.2c-4.2-4.6-10.1-7.2-16.4-7.2C266 144 256 154 256 166.3l0 41.7-96 0c-17.7 0-32 14.3-32 32l0 32c0 17.7 14.3 32 32 32l96 0 0 41.7c0 12.3 10 22.3 22.3 22.3c6.2 0 12.1-2.6 16.4-7.2l84-91c3.5-3.8 5.4-8.7 5.4-13.9s-1.9-10.1-5.4-13.9l-84-91z"/></svg>
                .flag
                <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
          figure.col-12.col-sm-6.col-lg-3.kartka
            figcaption.tour-card
              <picture>
                <source srcset="img/palm.jpg" type="image/jpg">
                img.img-fluid(src="img/palm.webp", alt="пальми")
              .flag
              <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
              .tour-body
                h2.title На острови!
                p.desc Хочеш зануритись у тишу, місце де не має натовпу, та панує дмка природа? Тоді вперед за пригодами!
                .bottom-row.d-flex.align-items-center.justify-content-between
                  p.price 1559 грн.
                  a.order(href="#") замовити
                    svg.orangt <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 151.2c-4.2-4.6-10.1-7.2-16.4-7.2C266 144 256 154 256 166.3l0 41.7-96 0c-17.7 0-32 14.3-32 32l0 32c0 17.7 14.3 32 32 32l96 0 0 41.7c0 12.3 10 22.3 22.3 22.3c6.2 0 12.1-2.6 16.4-7.2l84-91c3.5-3.8 5.4-8.7 5.4-13.9s-1.9-10.1-5.4-13.9l-84-91z"/></svg>
          figure.col-12.col-sm-6.col-lg-3.kartka
            figcaption.tour-card
              .flag
              <svg class="star" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
              <picture>
                <source srcset="img/skydw.jpg" type="image/jpg">
                img.img-fluid(src="img/skydw.webp", alt="скайв")
              .tour-body
                h2.title.bksa Катання на сьорфінгу
                p.desc Хочеш отримати екстрим та мега вражень одночасно? Тоді вперед ловити хвилі!
                .bottom-row.d-flex.align-items-center.justify-content-between
                  p.price 999 грн.
                  a.order(href="#") замовити
                    svg.orangt <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM294.6 151.2c-4.2-4.6-10.1-7.2-16.4-7.2C266 144 256 154 256 166.3l0 41.7-96 0c-17.7 0-32 14.3-32 32l0 32c0 17.7 14.3 32 32 32l96 0 0 41.7c0 12.3 10 22.3 22.3 22.3c6.2 0 12.1-2.6 16.4-7.2l84-91c3.5-3.8 5.4-8.7 5.4-13.9s-1.9-10.1-5.4-13.9l-84-91z"/></svg>
        hr
    section.dodatkova.container
      .row
        .col-xs-12.col-lg-3.px-0
          h2.dodatk Додаткова інформація
        figure.col-12.col-md-6.col-lg-3.veda
          figcaption.info-card
            .karinkiw.d-flex
              img.card-bg-img(src="img/file.svg", alt="Готелі")
              h2.infp.col-8 Графік роботи готелів.xls
            .peshki
              p.small.rozmir Розмір файла: 10Mb
              p.svi Розклад роботи усіх наших готелів, можете знайти за цим посиланням. Та додатково завантажити їх фото.
              .chto 
              a.btn.btn-warning.knopkaniz(href="#")
                svg.oblako(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 640 512")
                  path(d="M0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4 4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32 167.6 32 96 103.6 96 192c0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336z")
                | Скачати
      
        figure.col-12.col-md-6.col-lg-3.veda
          figcaption.info-carde
            .karinkiw.d-flex
              picture
              img.filesa(src="img/file.svg", alt="Харчування")
              h2.infp Інформація про харчування.xls
            .peshki
              p.small.rozmir Розмір файла: 10Mb
              p.ybu У будь-якому нашому турі включені сніданки у вартість. Якщо ж бажаєте замовити додатково, то ознайомтесь з умовами.
              .vki
              a.btn.btn-warning.knopkaniz(href="#")
                svg.oblako(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 640 512")
                  path(d="M0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4 4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32 167.6 32 96 103.6 96 192c0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336z")
                | Скачати
        section.col-12.col-lg-3.veda
          .consult-card.text-center.vedstup
            h3.text-muted задати питання
            p.small.texti.col-lg-9.mx-auto Скажіть доброго для нашого консультанту, і ми з радістю відповімо на Ваші запитання
            a.telik(href="tel:+380505698511") 
              svg.telikii(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 512 512")
                path(d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64 0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z")
              | +38 (050) 56 98 511
            h2.tyotya Анна Миколаївна
            p.konsul консультант
            img.rounded-circle.anya(src="img/tyotya.svg", alt="")
  footer
    .palmi
    .yraa
        .col-12
          p.fullik © 2016 Cars.com All rights reserved.
    script(src="js/script.js")
